<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="" alt="">
    <script>
        let imgBx = document.querySelectorAll('.imgBx');
        let contentBx = document.querySelectorAll('.contentBx');

        for(let i=0; i<imgBx.length; i++){
            imgBx[i].addEventListener('mouseover', function(){
                for(let i=0; i<contentBx.length; i++){
                    contentBx[i].className = 'contentBx';
                }
                documement.getElementById(this.dataset.id).className = 'contentBx active';

                for(let i=0; i<imgBx.length; i++){
                    imgBx[i].className = 'imgBx';
                }

                this.className = 'imgBx active';
            })
        }

    </script>
</body>
</html>